
body{
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* to hide increase decrease in input box in numbers */
/* Hide both spinner buttons in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
